@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333333;
  overflow-x: hidden;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}